*body{
    margin: 0;
    background-color: gray;

}
.fetch__jokes {
    display: flex;
    width: 100%px;
    margin-left: 30px;
    margin-top: 5px;

}
.jokes__container {
    display: flex;
    flex-direction: column;
    width: 75%;

}
.select__option {
    position: relative;
    display: flex;
    width: 50%;
    margin: 5px;   
}  